<mat-card *ngIf="assignmentTransmis">
  <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
  <mat-card-subtitle>{{assignmentTransmis.dateDeRendu|date}}</mat-card-subtitle>
  <div id="bottom">
  
  <button mat-stroked-button [disabled]="!isAdmin()" color="primary" (click)="onClickEdit()">EDIT</button>


  <button mat-flat-button [disabled]="!isAdmin()" (click)="onDelete()" color="warn">DELETE</button>
  </div>
</mat-card>

<mat-card *ngIf="assignmentTransmis">
  <h3>Remarques</h3>
  <div>
   {{assignmentTransmis.remarques}}
  </div>
</mat-card>