
.container {
  display: flex;
  flex-direction: column;
}

.affiche {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.card1{
  margin-top: 100px;
  max-width: 400px;

}

.titre{
  color: white;
}

a:hover{
  color: darkblue;
}



a {
  text-decoration: none;
  color: white;
}

.tabs{
  text-decoration: none;
  color: blue;
}


.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.form{
  font-size: 15px;
  margin:5px;
}

.toolB{
  margin-bottom: 5px;
  margin: 5px;
  flex:5px;
  color:white;
  
}
