<div class="container">
  <mat-toolbar color="primary" class="toolB">
    <mat-toolbar-row> 
      <span >
      <p class="titre" *ngIf="!Logged"> {{titre}} </p>
      <a routerLink="/home" class="title" *ngIf="Logged" (click)="SelectedIndex()" >{{titre}}</a>
    </span>
    <span class="example-spacer"></span>
  <form ngForm #LoginForm class="form" (submit)= login() *ngIf="!Logged else Logged"  >
    <mat-form-field appearance="legacy" class="form">
      <mat-label>Enter your login</mat-label>
      <input matInput placeholder="Placeholder" [(ngModel)]="Login" name="Login">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="form">
      <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'"  [(ngModel)]="Password" name="Password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    </mat-form-field>
      <button mat-button >
        login
      </button>
    </form>
    <button mat-button *ngIf="Logged" (click)= logout()>
      logout
    </button>
  </mat-toolbar-row> 
  </mat-toolbar>
</div>
<div *ngIf="!Logged">
    <mat-card class="card2">
        <h1>
         Bienvenue sur notre {{titre}}
        </h1>
    </mat-card>
  
  
 

</div>
<div class="container" *ngIf="Logged">
<mat-tab-group mat-align-tabs="center" [selectedIndex]="index" >
    <mat-tab label="First" role="button"><ng-template mat-tab-label class="tabs">
      <a  routerLink="/home" class="title" (click)="SelectedIndex()" class="tabs">Devoirs rendus</a>
    </ng-template>
    <router-outlet></router-outlet></mat-tab>
  <mat-tab label="Second"><ng-template mat-tab-label class="tabs">
    <a  (click)="NSelectedIndex()"   [routerLink]="[{ outlets: { 'nonRendu': ['NonRendus'] }}]" class="title" class="tabs">Devoirs à rendre</a>
  </ng-template>
  <router-outlet name="nonRendu"></router-outlet></mat-tab>
</mat-tab-group>
</div>